<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      {{ post.content }}
    </p>
    <mat-action-row>
      <button mat-button color="accent">Edit</button>
    </mat-action-row>
    <mat-label>Tags</mat-label>
    <mat-chip-list aria-label="Color selection">
      <mat-chip *ngFor="let tag of post.tags" selected>
        {{ tag }}
      </mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="posts.length <= 0">No posts added</p>
