<mat-accordion multi="true" *ngIf="posts.length > 0">
  <form action="">
    <mat-form-field class="example-chip-list">
      <mat-label>Search Articles with tags </mat-label>
      <mat-chip-list #chipList aria-label="Tag selection">
        <mat-chip
          *ngFor="let tag of tags"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          #tagInput
          placeholder="Press enter after writing tag..."
          [formControl]="tagCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{ tag }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      class="searchbtn"
      (click)="onFilter()"
    >
      Search
    </button>
  </form>
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      {{ post.content }}
    </p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        Delete
      </button>
    </mat-action-row>
    <mat-label>Tags</mat-label>
    <mat-chip-list aria-label="Color selection">
      <mat-chip *ngFor="let tag of post.tags" selected>
        {{ tag }}
      </mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="posts.length <= 0">No posts added</p>
